[run]
source = api/auth/views,api/user/views,api/prediction/views
omit =
    */migrations/*
    */tests/*
    */venv/*
    */__init__.py
    */manage.py
    */wsgi.py
    */asgi.py
    */settings.py
    */urls.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
    pass
    raise ImportError 